# Other
*:Zone.Identifier
crypto_test/crypto_test
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Build directories
build/
Debug/
Release/